body{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1{
    color: rgb(92, 92, 187);
    font-family: 'Open Sans', sans-serif;
}

h2{
    color: azure;
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');