body{
    font-family: 'Open Sans', sans-serif;
    max-width: 60%;
    margin: auto;
}

header{
    outline: 0.3px dashed rgb(9, 4, 53);
    background-color: rgb(229, 233, 248);
    width: 60%;
    position: fixed;
    backdrop-filter: drop;
}

header >nav{
    padding: 7px;
    text-align: end;
    text-transform: none;
}

a{
    text-decoration: none;
    padding: 7px;
    text-align: end;
}
  
header >nav >a:hover, a:active {
    color: white;
    background-color: rgb(8, 34, 185);
    outline: 0.5px dashed rgb(5, 4, 0);
  }

h1{
    color: rgb(92, 92, 187);
    
}

h2{
    color: gray;
    
}

h3{
    color: rgb(92, 92, 187);
    
}

.emphasis {
    color: rgb(66, 64, 64);
}

.emphasis:hover{
    color: rgb(78, 167, 245);
}

img{
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.section-container >h3{
    padding: 12px;
    text-align: center;
}

.section-container >div{
    padding: 12px;
}

footer{
    outline: 0.3px dashed rgb(9, 4, 53);
    background-color: rgb(229, 233, 248);
    text-align: center;
}

footer >nav{
    padding: 7px;
    text-transform: none;
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');